@import 'variables/_variables.scss';

*{
    box-sizing: border-box;
    padding: 0;
}

p{
    font-size: 1rem;
}

.sign{
    background: linear-gradient(0deg, rgba(178,36,239,1) 0%, rgba(117,121,255,1) 100%);
    margin: auto;
    margin-top: 25vh;
    border-radius: 5px;
    color: $main-color;
    width: 25vw;
    height: 50vh;
    min-width: 300px;
    min-height: 490px;
    max-width: 400px;
    max-height: 530px;
    font-family: Arial, Helvetica, sans-serif;


    &-form{
        margin-top: 0;
        & h2{
            margin: 0;
            padding: 16px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            height: 70px;
            font-size: 2rem;
            background: $white-opacity;
            color: #555;
        }
        &-sign-up{
            font-size: 1rem;
            color: #ddd;
            transition: all ease-in-out 0.5s;
            &:hover{
                color: $main-color;
            }
        }
    }

    &-social-list{
        margin: auto;

    }
    &-under-line{
        border-bottom: $main-color solid 3px;
        width: 88%;
        margin: auto;
        margin-top: 13px;
        margin-bottom: 10px;
        animation: line-slide 1s ease-in-out;
    }

    &-sign-in-form{
        padding: 2rem;
        font-size: 1.5rem;
        text-align: center;
        margin-top: 10px;
    }
    &-input{
        display: inline-block;
        color: $main-color;
        background:transparent;
        height: 30px;
        width: 88%;
        padding-left: 0.2rem;
        border: none;
        outline: none;
        transition: all 0.5s ease-in-out;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 2px;
        

        &-icon{
            font-size: 1rem;
            margin-right: 10px;
            transition: all ease-in-out 0.5s;
        }

        &::placeholder{
            color: $main-color;
            opacity: 1;
        }

        &:focus::placeholder{
            opacity: 0;
        }

        &-underline{
            width: 0%;
            border-bottom: $main-color solid 3px;
            margin: auto;
            margin-top: -10px;
            z-index: 1;
            transition: all ease-in-out 0.5s;
        }

        &:focus:empty + &-underline{
            width: 100%;
        } 
    }

    &-submit-btn{
        margin-top: 15px;
        border: none;
        background: $main-color;
        color: #222;
        width: 70%;
        height: 40px;
        transition: all ease-in-out 0.5s;
        cursor: pointer;
        border-radius: 20px;
        &:hover{
            background: rgba(178,36,239,1);
            color: $main-color;
        }
    }

    @keyframes line-slide{
        from{
            width: 0%;
        }
    
        to{
            width: 88%;
        }
    }
}
